@use './common.scss' as *;

#wrap {
    text-align: center;
    .title_page {position:relative;
        height: 100vh;
        .title_msg {
            padding-top:317px;
            h1 {font-size:4rem; font-family:$point-font; }
            p {
                font-size:$font-size18; line-height: 180%; margin-top:30px;
                em {font-family:$font-weight-bold;}
            }
        }
        .viewbtn {position:absolute; bottom:0; left:50%; transform: translateX(-50%);
            padding:50px 0;
            a {
                p{font-family:$point-bold-font; color:$point-color-mint; font-size:$font-size20;
                margin-bottom:10px;}
            }
        }
    }
    .contents_section {
        height: 100vh;
        background-color:$color-bg-mint;
        .contents_list { font-family:$point-font;
            padding:266px 0;
            display:grid;
            grid-template-columns: 50% 50%;
            gap:30px 15px;
            dt { text-align: right;
                a {
                    font-family:$point-font;
                    font-size:$font-size32;
                }
            }
            dd {
                .sub_list {
                    display:flex;
                    flex-flow:column nowrap;
                    align-items: start;
                    gap:15px;
                    padding:0 0 0 15px;
                    a{
                        font-family:$point-font;
                        font-size:$font-size24;
                        color:$color-dark-mint;
                    }
                    border-left:1px solid $color-dark-mint;
                }
            }
        }
    }
    .aboutme_section {
        background-image:url('../images/sec_bg_aboutme.png');
        background-size:cover; background-repeat: no-repeat;
        background-position:center;
        h2 {
            font-family:$point-font; font-size:$font-size55; 
            text-align: left; padding:20px 40px;
            position:sticky;
            top:0;
        }
        .about_me_top {
            padding:105px 0 100px;
            @include flexrow; justify-content: center; gap: 150px;
            .photo {height: 320px; 
                img {width: auto; height: 100%;}}
            .about_me_msg {
                display:flex; flex-flow:column nowrap; gap:20px;
                p {line-height: 160%; text-align: left; 
                    em {font-family:$font-weight-bold;}
                    strong {background-color:$point-color-mint; color:#fff; padding:3px 5px;}
                }
            }
        }
        .skills {
            @include flexrow; justify-content: center; gap:20px;
            margin-bottom: 100px;
            li {
                img {margin-bottom:20px;}
                p {font-size:$font-size20;}
            }
        }
        .main_msg { padding-bottom:150px;
            em {font-family:$font-weight-bold; line-height: 160%;}
        }
    }
    .granhand {
        background-image:url('../images/sec_bg_granhand.png');
        color:$font-color-brown;
    }
    .blueelephants {
        background-image:url('../images/sec_bg_blueelephants.png');
        color:$font-color-blue;
    }
    .ason {
        background-image:url('../images/sec_bg_ason.png')
    }
    .minumsa {
        color:$point-color-mint;
    }
    .portfolio_section {
        height: 100vh;
        display:flex;
        flex-flow:row nowrap;
        .portfolio_text_contents {
            padding: 80px 0 0 200px;
            width: 50%;
            .title { text-align: left;
                padding:20px 40px;
                h3 {line-height: 150%;
                    font-size:$font-size55;
                    em {font-size:$font-size80;}
                    strong {font-family:$point-bold-font;}
                }
            }
            .overview { 
                text-align: left; 
                padding:20px 40px;
                width: 480px;
                height: 433px;
                display:flex; flex-flow:column nowrap; gap:20px;
                .overview_title {font-family:$point-font;font-size:$font-size30;}
                .overview_title::after {
                    content:'';
                    display:block;
                    width: 400px;
                    height: 1px;
                    background-color:$font-color-brown;
                }
                p {
                    line-height: 200%;
                    letter-spacing: 0;
                    em {font-family: $font-weight-bold;}
                }
            }
        }
        .mockup {width: 100%; position:relative; 
            p { z-index: 11;
                position:absolute;
                top:228px;
                left:50%; transform: translateX(-50%);
                em {font-family: $font-weight-ExtraBold;}
            }
            .laptop_mockup {
                z-index:10;
                position:absolute;
                .laptop_view {
                    img {}
                }
                .laptop_mockup_img {
                    img {}
                }
            }
            .mobile_mockup {z-index:20;
                position:absolute; 
                top:470px;
                .mobile_view {
                    img {}
                }
                .mobile_mockup_img {
                    img {}
                }
            }
            .skill_btn { 
                z-index: 13;
                .used_skill {
                    display:flex;
                    flex-flow:column nowrap;
                    gap:10px;
                    position:absolute;
                    top:296px; right:67px;
                    li {width: 90px; background-color:$font-color-brown; color:#fff; padding: 10px 15px; border-radius: 16.5px; font-size:$font-size12;}
                    li:nth-child(1),
                    li:nth-child(2) {background-color:none; border:1px solid $font-color-brown}
                }
                .btn {
                    position:absolute;
                    top:685px; right:67px;
                    .homepage_btn{
                        display:block;
                        width: 90px; height: 90px ; 
                        border-radius: 50%; background-color:#fff; color:$font-color-brown;
                        li {padding:28px 0; font-size:$font-size12; line-height: 144%;}
                    }
                    .homepage_btn:nth-child(2) {
                        background-color:$font-color-brown; color:#fff;
                    }
                }
            }
        }
    }
    .grapic_design {}
    .molllin {}
    .youtube { }
    .contact_me {}
}